.upload-mc {
  input {
    border: 1px solid hsl(0,0%,80%);
  }
  span {
  position: absolute;
  right: 14px;
  top: -1px;
    button {
      height: 30px;
      line-height: 12px;
      color: white!important;
      background-color: #0177bc!important;
    }
  }
}
.decoration-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
.merchant-table {
  background-color: red;
  &__table {
    border-collapse: collapse;
    width: 100%;
    td {
      padding: 4px 6px;
    }
    th {
      padding: 0.75em;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
    }
    th {
      font-weight: 500;
      &:first-child {
        text-align: center;
      }
    }
    &__filter {
      padding-bottom: 1.25rem;
    }
    .icon-fee {
      button {
        &:focus {
          box-shadow: inherit;
        }
      }
    }
    .table th, .table td {
      padding: 0.55rem;
      vertical-align: middle;
      border-top: 1px solid #c8ced3;
      border-bottom: 1px solid #c8ced3;
    }
    .table tbody tr {
      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }
      &:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
  &__content {
    width: 100%;
  }
  &__pagination {
    margin: 20px 0;
    height: 35px;
    ul {
      flex-direction: row;
      justify-content: flex-end;
    }
    .disabled {
      a {
        cursor: not-allowed;
      }
      cursor: not-allowed;
    }
    .active {
      a {
        color: white;
        background-color: #20A8D8;
        border-color: #20A8D8;
      }
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        color: #73818f;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        width: 35px;
        height: 35px;
        background-color: #fff;
        border-top: 1px solid #c8ced3;
        border-left: 1px solid #c8ced3;
        border-bottom: 1px solid #c8ced3;
        flex-direction: column;
        text-decoration: none;
        border-color: #c8ced3;
      }
      &:first-child {
        a {
          border-top-left-radius: .25rem;
          border-bottom-left-radius: .25rem;
        }
      }
      &:last-child {
        a {
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
          border-right: 1px solid #c8ced3;
        }
      }
      &:not(.active) {
        a:hover {
          background-color: #eee;
        }
      }
    }
  }
}

.table-item__action {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.select-perpage {
  width: 100%;
}
.select-pagination {
  width: 100px;
  &__top {
    width: 100%;
  }
}
.offset-1{
  margin-left: 0;
}
.select-perpage__info {
  margin-left: 0;
  display: flex;
  align-items: baseline;
  p {
    margin-left: 30px;
  }
}
.bigger-150.btn {
  font-size: 120%!important;
  padding: 6px 18px;
}
.bigger-150.btn.bggreen {
  background-color: #69b734!important;
}
.btn {
  margin-right: 0;
}
.btn-middle {
  margin-left: 30px;
  margin-right: 30px !important;
}
.btn.bggreen {
  background: #69b734 !important;
}
.btn.btn-middle.bigger-150.btn-primary {
  background-color: #0177bc!important;
}
.wrap-button span {
  height: 42px;
  border-radius: 0;
}
.wrap-button span i {
  font-size: 12px;
}
.icon-fee-merchant button.btn {
  background-color: inherit;
  border: 0;
  padding: 5px;
}
